%heading {
  font-family: $font-montserrat;
  font-weight: 700;
  letter-spacing: .06em;
  margin: 0;
  text-transform: uppercase;
}

%horizontal-yellow-line {
  background: $yellow;
  content: '';
  display: block;
  height: 2px;
}

%description {
  margin: 1.4rem auto;
  text-align: center;
}

%gallery {
  margin: 0 auto;
  width: 100%;
}

html {
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: subpixel-antialiased;
  font-size: 14px;

  @media (min-width: 1200px) {
    font-size: 18px;
  }
}

body {
  background-color: $white;
  color: $darkgray;
  font-family: $font-main;
  line-height: 1.6;
}

.link {
  color: $yellow;
  text-decoration: none;

  &:hover {
    color: $black;
  }
}

h1 {
  @extend %heading;
  color: $black;
  font-size: 2.15rem;
  line-height: 1.2;

  @media (min-width: 768px) {
    font-size: 4rem;
  }

  @media (min-width: 1200px) {
    font-size: 4.1rem;
  }

  @media (min-width: 1400px) {
    font-size: 6.1rem;
  }
}

h2 {
  @extend %heading;
  color: $black;
  font-size: 1.85rem;
  line-height: 1.3;

  @media (min-width: 768px) {
    font-size: 2.3rem;
  }

  @media (min-width: 1200px) {
    font-size: 3.35rem;
  }
}

h3 {
  @extend %heading;
  color: $black;
  font-size: 1.58rem;
  line-height: 1.45;

  @media (min-width: 768px) {
    font-size: 2rem;
  }

  @media (min-width: 1200px) {
    font-size: 2.2rem;
    line-height: 1.35;
  }
}

h4 {
  @extend %heading;
  font-size: 1.3rem;
  line-height: 1.5;

  p + & {
    margin-top: 2.8rem;

    @media (min-width: 1200px) {
      margin-top: 3.1rem;
    }
  }

  @media (min-width: 768px) {
    font-size: 1.7rem;
  }

  @media (min-width: 1200px) {
    font-size: 1.35rem;
  }

  @media (min-width: 1400px) {
    font-size: 1.4rem;
    line-height: 1.72;
  }
}

h5 {
  @extend %heading;
  font-size: 1.15rem;
  font-weight: 400;
  line-height: 1.45;

  @media (min-width: 768px) {
    font-size: 1.45rem;
  }

  @media (min-width: 1200px) {
    font-size: 1.35rem;
    line-height: 1.5;
  }
}

h6 {
  @extend %heading;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.6;

  @media (min-width: 768px) {
    font-size: 1.15rem;
    line-height: 1.5;
  }

  @media (min-width: 1200px) {
    font-size: 1rem;
    line-height: 1.8;
  }
}

.heading {
  &--decorated {
    &::before {
      @extend %horizontal-yellow-line;
      margin-bottom: 1.45rem;
      width: 35px;

      @media (min-width: 768px) {
        width: 63px;
      }

      @media (min-width: 1200px) {
        margin-bottom: 1.65rem;
      }

    }
  }

  &--center {
    text-align: center;

    &.heading--decorated {
      &::before {
        margin-left: auto;
        margin-right: auto;
      }
    }
  }
}

.center {
  box-sizing: border-box;
  margin: 0 auto;
  max-width: $content-width;

  @media (min-width: 768px) {
    padding: 0 $section-horizontal-padding;
  }

  @media (min-width: 1200px) {
    padding: 0 $section-horizontal-padding-for-1200;
  }

  @media (min-width: 1400px) {
    padding: 0 $section-horizontal-padding-for-1400;
  }
}

p {
  color: $gray;
  line-height: 1.68;
  margin: 0;

  * + & {
    margin-top: 1.4rem;

    @media (min-width: 1200px) {
      margin-top: 1.55rem;
    }
  }

  h6 + & {
    margin-top: .7rem;

    @media (min-width: 1200px) {
      margin-top: .56rem;
    }
  }

  &:last-of-type {
    margin-bottom: 0;
  }

  &.intro {
    color: $darkgray;
    font-family: $font-montserrat;
    line-height: 1.6;
    margin-top: 1.45rem;
    text-transform: uppercase;

    @media (min-width: 1200px) {
      margin-top: 2.5rem;
    }

    & + p {
      margin-top: .7rem;
    }
  }
}

.vhtml {
  * + & {
    margin-top: 1.4rem;

    @media (min-width: 1200px) {
      margin-top: 1.55rem;
    }
  }

  h6 + & {
    margin-top: .7rem;

    @media (min-width: 1200px) {
      margin-top: .56rem;
    }
  }
}

.list {
  color: $gray;
  list-style: none;
  margin-top: 1.4rem;

  &__item {
    line-height: 1.68;
    margin-bottom: .6rem;
    padding-left: 1.8rem;
    position: relative;

    @media (min-width: 1200px) {
      margin-bottom: .5rem;
    }

    &::before {
      color: $yellow;
      content: '\f00c';
      display: block;
      font-family: $font-awesome;
      left: 0;
      position: absolute;
    }
  }
}


.formulate-input {
  .formulate-input-element {
    @media (min-width: 1200px) {
      max-width: 50vw;
    }
  }

  &[data-classification='text'] {
    input {
      @extend %form-item;

      &:focus {
        border-color: $gray;
      }
    }
  }

  &[data-classification='textarea'] {
    textarea {
      @extend %form-item;

      &:focus {
        border-color: $gray;
      }
    }
  }

  &[data-has-errors='true'] {
    input {
      border-color: $yellow;
    }
  }

  &[data-classification='file'] {
    .formulate-input-upload-area {
      .formulate-input-upload-area-mask {
        border: {
          color: $gray2;
          width: 1px;
        }
      }

      input:focus,
      input:hover,
      input[data-is-drag-hover] {
        & ~ .formulate-input-upload-area-mask {
          border-color: $gray;

          &::before {
            background-color: $gray;
          }
        }
      }
    }

    .formulate-files .formulate-file-progress .formulate-file-progress-inner {
      background-color: $yellow;
    }
  }

  &[data-classification=box] {
    .formulate-input-element {
      input[type=checkbox]:checked ~ .formulate-input-element-decorator {
        border-color: $gray2;

        &::before {
          background-color: $yellow;
        }
      }
    }
  }

  .formulate-input-label {
    color: $gray;
    font: {
      family: $font-main;
      size: 1rem;
      weight: 300;
    }
  }

  &[data-classification='button'] {
    button {
      background-color: $yellow;
      border-color: $yellow;
      font: {
        family: $font-main;
        size: 1rem;
        weight: 300;
      }

      &:focus {
        border-color: $yellow;
      }

      &:active {
        background-color: $black;
        border-color: $black;
      }
    }
  }
}

.formulate-form-errors {
  .formulate-form-error {
    color: $darkgray;
    font-size: 1rem;
  }
}

.section {
  padding: $section-vertical-padding $section-horizontal-padding;

  @media (min-width: 768px) {
    padding: $section-vertical-padding-for-768 $section-horizontal-padding;
  }

  @media (min-width: 1200px) {
    padding: $section-vertical-padding-for-1200 $section-horizontal-padding;
  }

  @media (min-width: 1400px) {
    padding: $section-vertical-padding-for-1400 $section-horizontal-padding-for-1400;
  }
}

#{$section-class-bg-lightgray} {
  background: $lightgray;
}

.grid {
  display: grid;
  grid-row-gap: 3.6rem;
  margin-top: 2.85rem;

  @media (min-width: 768px) {
    grid-column-gap: $section-horizontal-padding * 2;
    grid-template-columns: repeat(2, 1fr);
  }

  @media (min-width: 1200px) {
    grid-column-gap: $section-horizontal-padding-for-1200 * 2;
    grid-row-gap: 2.8rem;
    grid-template-columns: repeat(3, 1fr);
    margin-top: 3.35rem;
  }

  @media (min-width: 1400px) {
    grid-column-gap: $section-horizontal-padding-for-1400 * 2;
    grid-template-columns: repeat(4, 1fr);
  }
}

.fade-enter-active,
.fade-leave-active {
  transition-duration: .4s;
  transition-property: opacity;
  transition-timing-function: ease;
}

.fade-enter,
.fade-leave-active {
  opacity: 0;
}
