%form-item-bg-border {
  background: $lightgray;
  border: 1px solid $gray2;
  border-radius: 3px;
  outline: none;
}

%form-item {
  //@extend %form-item-bg-border;
  //box-sizing: border-box;
  background: $white;
  color: $darkgray;
  font-family: $font-main;
  font-size: 1rem;
  font-style: italic;
  //padding: 1.3rem;
}
