
@font-face {
  font-family: 'FontAwesome';
  src: url('~font-awesome/fonts/fontawesome-webfont.ttf') format("truetype");
}

@font-face {
  font-family: 'SegoeUILight';
  src: url('~@/assets/fonts/SegoeUI/SegoeUILight.ttf') format("truetype");
}

@font-face {
  font-family: 'Montserrat';
  src: url('~@/assets/fonts/Montserrat/Montserrat-Regular.ttf') format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat';
  src: url('~@/assets/fonts/Montserrat/Montserrat-Regular.ttf') format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat';
  src: url('~@/assets/fonts/Montserrat/Montserrat-Medium.ttf') format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat';
  src: url('~@/assets/fonts/Montserrat/Montserrat-SemiBold.ttf') format("truetype");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat';
  src: url('~@/assets/fonts/Montserrat/Montserrat-Bold.ttf') format("truetype");
  font-weight: 700;
  font-style: normal;
}

$transparent: rgba(0, 0, 0, 0);
$black: #000;
$white: #fff;
$gray: #888;
$gray2: #c7c7c7;
$darkgray: #333;
$darkgray2: #272727;
$green: #abd904;
$darkgreen: #038c33;
$orange: #f2cb05;
$lightgray: #f8f8f8;
$yellow: #f9b707;

$black-5: rgba($black, .5);
$darkgray-7: rgba($darkgray, .7);
$darkgray-9: rgba($darkgray, .9);
$gray3: rgba($gray, .3);

$font-main: 'SegoeUILight', sans-serif;
$font-montserrat: 'Montserrat', sans-serif;
$font-awesome: 'FontAwesome';

$content-width: 1400px;

$border-radius: 3px;

$top-panel-height: 3.2rem;
$contact-map-width: 500px;
$contact-map-height: 400px;

$section-horizontal-padding: 1.1rem;
$section-horizontal-padding-for-1200: .8rem;
$section-horizontal-padding-for-1400: 1.5rem;

$section-vertical-padding: 4.3rem;
$section-vertical-padding-for-768: 5rem;
$section-vertical-padding-for-1200: 5em;
$section-vertical-padding-for-1400: 6.4rem;

$section-class-bg-lightgray: '.section--bg-lightgray';
