<template>
  <article class="section article-page center">
    <h3 class="heading--decorated heading--center">
      {{ article.title }}
    </h3>
    <div class="article-page__content" v-html="article.content" />
  </article>
</template>

<script lang="ts">
import { Component, Vue, Prop } from "vue-property-decorator";
import { IArticle } from "@/typings/types";
import ArticlesService from "@/services/articlesService";
import ServicesService from "@/services/servicesService";

@Component
export default class ArticlePage extends Vue {
  @Prop() type!: string;

  private article: IArticle = {} as IArticle;

  get service(): ArticlesService | ServicesService {
    return this.type == "service"
      ? new ServicesService()
      : new ArticlesService();
  }

  async created(): Promise<void> {
    const id = this.$route.params.id;
    this.article = await this.service.get(id);
  }
}
</script>

<style lang="scss">
.article-page {
  &__content {
    margin-top: 3.6rem;

    @media (min-width: 768px) {
      margin-top: 5rem;
    }
  }
}
</style>
