<template>
  <div class="section articles-page">
    <h3 class="heading--decorated heading--center">
      Статьи
    </h3>
    <div class="grid articles-page__grid">
      <TextMediaBlock
        v-for="article in articles"
        :key="article.id"
        v-bind="article"
        :vertical="true"
        :media-first="true"
        :link="`/article/${article.id}`"
      />
    </div>
  </div>
</template>

<script lang="ts">
import { Component, Vue } from "vue-property-decorator";
import { IArticle } from "@/typings/types";
import ArticlesService from "@/services/articlesService";
import TextMediaBlock from "@/components/TextMediaBlock.vue";

const components = {
  TextMediaBlock
};

@Component({
  components
})
export default class ArticlesPage extends Vue {
  private articles: IArticle[] = [];

  async created(): Promise<void> {
    this.articles = await new ArticlesService().getAll();
  }
}
</script>
