<template>
  <div class="contacts-page">
    <Map />
    <section class="section contacts-page__grid">
      <div>
        <h4 class="heading--decorated">
          Контактные данные
        </h4>
        <ContactDetails class="contacts-page__contact-details" />
        <SocialLinks class="contacts-page__social-links" />
      </div>
      <div>
        <h4 class="heading--decorated">
          Свяжитесь с нами
        </h4>
        <RequestForm class="contacts-page__request-form" action="contact_us" />
      </div>
    </section>
  </div>
</template>

<script lang="ts">
import { Component, Vue } from "vue-property-decorator";
import Map from "@/components/Map.vue";
import ContactDetails from "@/components/ContactDetails.vue";
import SocialLinks from "@/components/SocialLinks.vue";
import RequestForm from "@/components/RequestForm.vue";

const components = {
  Map,
  ContactDetails,
  SocialLinks,
  RequestForm
};
@Component({
  components
})
export default class ContactsPage extends Vue {}
</script>

<style lang="scss">
.contacts-page {
  &__grid {
    display: grid;
    grid-row-gap: 3.6rem;

    @media (min-width: 768px) {
      grid-column-gap: $section-horizontal-padding * 2;
      grid-template-columns: repeat(2, 1fr);
    }

    @media (min-width: 1200px) {
      grid-column-gap: $section-horizontal-padding-for-1200 * 2;
      grid-template-columns: 1fr 2fr;
    }

    @media (min-width: 1400px) {
      grid-column-gap: $section-horizontal-padding-for-1400 * 2;
    }
  }

  &__contact-details,
  &__request-form {
    margin-top: 2.1rem;

    @media (min-width: 1200px) {
      margin-top: 1.7rem;
    }
  }

  &__social-links {
    color: $yellow;
    margin-top: 1.1rem;

    @media (min-width: 768px) {
      margin-top: 1.6rem;
    }

    @media (min-width: 1200px) {
      margin-top: 1.2rem;
    }
  }
}
</style>
