<template>
  <div class="section gallery-page">
    <div class="gallery-page__description">
      <p>
        В нашей галерее представлены информаци и фотографии готовых объектов.
        Здесь вы можете ознакомиться с этапами строительства данных объектов и
        результатом работ.
      </p>
    </div>
    <div class="grid gallery-page__grid center">
      <TextMediaBlock
        v-for="g in gallery"
        :key="g.id"
        v-bind="g"
        :vertical="true"
        :media-first="true"
        :link="`/gallery/${g.id}`"
      />
    </div>
  </div>
</template>

<script lang="ts">
import { Component, Vue } from "vue-property-decorator";
import { IGallery } from "@/typings/types";
import GalleryService from "@/services/galleryService";
import TextMediaBlock from "@/components/TextMediaBlock.vue";

const components = {
  TextMediaBlock
};

@Component({
  components
})
export default class GalleryPage extends Vue {
  private gallery: IGallery[] = [];

  async created(): Promise<void> {
    this.gallery = await new GalleryService().getAll();
  }
}
</script>

<style lang="scss">
.gallery-page {
  &__description {
    margin: 0 auto;
  }
}
</style>
