<template>
  <div class="main-page">
    <section class="section center">
      <h4 class="heading--decorated heading--center">
        Наши услуги
      </h4>
      <Services />
    </section>
    <section class="section section--bg-lightgray">
      <TextMediaBlock class="center" v-bind="about" />
    </section>
  </div>
</template>

<script lang="ts">
import { Component, Vue } from "vue-property-decorator";
import AboutService from "@/services/aboutService";
import { IAbout } from "@/typings/types";
import Services from "@/components/Services.vue";
import TextMediaBlock from "@/components/TextMediaBlock.vue";

const components = {
  Services,
  TextMediaBlock
};

@Component({
  components
})
export default class Home extends Vue {
  private about: Partial<IAbout> = {};

  async created(): Promise<void> {
    this.about = await new AboutService().get();
  }
}
</script>
