<template>
  <div class="section object-gallery-page">
    <h3 class="heading--decorated heading--center">
      {{ gallery.title }}
    </h3>
    <div class="object-gallery-page__description">
      <p>{{ gallery.text }}</p>
    </div>
    <Gallery :images="gallery.images" class="object-gallery-page__gallery" />
  </div>
</template>

<script lang="ts">
import { Component, Vue } from "vue-property-decorator";
import GalleryService from "@/services/galleryService";
import { IGallery } from "@/typings/types";
import Gallery from "@/components/Gallery.vue";

const components = {
  Gallery
};

@Component({
  components
})
export default class ObjectGalleryPage extends Vue {
  private gallery: IGallery = {} as IGallery;

  async created(): Promise<void> {
    const id = this.$route.params.id;
    this.gallery = await new GalleryService().get(id);
  }
}
</script>

<style lang="scss">
.object-gallery-page {
  &__description {
    margin: 1.4rem auto 3.6rem;
    text-align: center;

    @media (min-width: 768px) {
      margin-bottom: 5rem;
    }
  }

  &__gallery {
    margin: 0 auto;
    width: 100%;
  }
}
</style>
