<template>
  <div class="projects">
    <Filters v-model="filters" />
    <ProjectsCategory v-if="housesShown" title="Дома">
      <div v-if="houses.length == 0" class="projects__no-projects no-projects">
        <FontAwesomeIcon class="no-projects__icon" icon="exclamation" />
        {{ noHouses }}
      </div>
      <div class="projects__grid">
        <Project
          v-for="house in houses"
          :key="house.id"
          v-bind="house"
          category="Дом"
          @click.native="goToProjectPage(house.id)"
        />
      </div>
    </ProjectsCategory>
    <ProjectsCategory v-if="bathHousesShown" title="Бани">
      <div
        v-if="bathHouses.length == 0"
        class="projects__no-projects no-projects"
      >
        <FontAwesomeIcon class="no-projects__icon" icon="exclamation" />
        {{ noBathHouses }}
      </div>
      <div class="projects__grid">
        <Project
          v-for="bathHouse in bathHouses"
          :key="bathHouse.id"
          v-bind="bathHouse"
          category="Баня"
          @click.native="goToProjectPage(bathHouse.id)"
        />
      </div>
    </ProjectsCategory>
    <ProjectsCategory v-if="countryHousesShown" title="Дачные дома">
      <div
        v-if="countryHouses.length == 0"
        class="projects__no-projects no-projects"
      >
        <FontAwesomeIcon class="no-projects__icon" icon="exclamation" />
        {{ noCountryHouses }}
      </div>
      <div class="projects__grid">
        <Project
          v-for="countryHouse in countryHouses"
          :key="countryHouse.id"
          category="Дачный дом"
          v-bind="countryHouse"
          @click.native="goToProjectPage(countryHouse.id)"
        />
      </div>
    </ProjectsCategory>
    <modal
      name="request-form"
      :adaptive="true"
      height="auto"
      classes="projects__modal"
      :scrollable="true"
    >
      <h4 class="heading--center">
        Отправить запрос
      </h4>
      <RequestForm
        action="request"
        class="projects__request-form"
        :attach-file="true"
      />
    </modal>
  </div>
</template>

<script lang="ts">
import { Component, Vue, Prop, Watch } from "vue-property-decorator";
import ProjectsService from "@/services/projectsService.ts";
import { IProjects, IProject, IFilters, TFloors } from "@/typings/types";
import Filters from "@/components/Filters.vue";
import ProjectsCategory from "@/components/ProjectsCategory.vue";
import Project from "@/components/Project.vue";
import RequestForm from "@/components/RequestForm.vue";
const components = {
  Filters,
  ProjectsCategory,
  Project,
  RequestForm
};

@Component({
  components
})
export default class Projects extends Vue {
  @Prop({ default: false }) onlyHousesShown!: boolean;
  @Prop({ default: false }) onlyBathHousesShown!: boolean;
  @Prop({ default: false }) onlyCountryHousesShown!: boolean;

  // Предустановка фильтров
  static filtersConfig: IFilters = {
    houses: false,
    bathHouses: false,
    countryHouses: false,
    onefloor: false,
    twofloors: false,
    priceFrom: 0,
    priceTo: 0
  };

  public filters: IFilters = Projects.filtersConfig;
  private typeFilters: boolean[] = [
    this.onlyHousesShown,
    this.onlyBathHousesShown,
    this.onlyCountryHousesShown
  ];
  private projects: Pick<
    IProjects,
    "houses" | "countryHouses" | "bathHouses"
  > = {
    houses: [],
    bathHouses: [],
    countryHouses: []
  };
  private noHouses = "";
  private noBathHouses = "";
  private noCountryHouses = "";

  get houses(): IProject[] {
    return this.filterProjects(this.projects.houses);
  }

  get bathHouses(): IProject[] {
    return this.filterProjects(this.projects.bathHouses);
  }

  get countryHouses(): IProject[] {
    return this.filterProjects(this.projects.countryHouses);
  }

  get housesShown(): boolean {
    return this.filters.houses || this.allTypesShown;
  }

  get bathHousesShown(): boolean {
    return this.filters.bathHouses || this.allTypesShown;
  }

  get countryHousesShown(): boolean {
    return this.filters.countryHouses || this.allTypesShown;
  }

  get incomingPropsArr(): boolean[] {
    return [
      this.onlyHousesShown,
      this.onlyBathHousesShown,
      this.onlyCountryHousesShown
    ];
  }

  get allTypesShown(): boolean {
    return (
      !this.filters.houses &&
      !this.filters.bathHouses &&
      !this.filters.countryHouses
    );
  }

  @Watch("incomingPropsArr")
  incomingPropsArrChange(): void {
    this.setTypeFilters(this.filters, this.incomingPropsArr);
  }

  async created(): Promise<void> {
    this.filters = { ...Projects.filtersConfig };
    this.setTypeFilters(this.filters, this.typeFilters);

    const projects = await new ProjectsService().getAll();
    const { noHouses, noBathHouses, noCountryHouses, ...rest } = projects;
    this.projects = rest;
    this.noHouses = noHouses;
    this.noBathHouses = noBathHouses;
    this.noCountryHouses = noCountryHouses;
  }

  private setTypeFilters(filters: IFilters, typeFilters: boolean[]): void {
    filters.houses = typeFilters[0];
    filters.bathHouses = typeFilters[1];
    filters.countryHouses = typeFilters[2];
  }

  private filterProjects(projects: IProject[]): IProject[] {
    const onefloor: boolean = this.filters.onefloor;
    const twofloors: boolean = this.filters.twofloors;
    const priceFrom: number = this.filters.priceFrom;
    const priceTo: number = this.filters.priceTo;

    // Если ни один из фильтров этажности или стоимости не выбран - возвращаем все
    if (!onefloor && !twofloors && !priceFrom && !priceTo) return projects;

    return projects.filter(project => {
      if (
        this.checkFloorsNumber(project.floors) &&
        this.checkPrice(project.price)
      )
        return true;

      return false;
    });
  }

  private checkFloorsNumber(floors: TFloors): boolean {
    const onefloor: boolean = this.filters.onefloor;
    const twofloors: boolean = this.filters.twofloors;

    if (
      (!onefloor && !twofloors) ||
      (onefloor && floors === 1) ||
      (twofloors && floors === 2)
    )
      return true;

    return false;
  }

  private checkPrice(price: number): boolean {
    const priceFrom: number = this.filters.priceFrom;
    const priceTo: number = this.filters.priceTo;

    if (
      (!priceFrom && !priceTo) ||
      (priceFrom && priceTo && price >= priceFrom && price <= priceTo) ||
      (priceFrom && !priceTo && price >= priceFrom) ||
      (!priceFrom && priceTo && price <= priceTo)
    )
      return true;

    return false;
  }

  private goToProjectPage(id: string): void {
    this.$router.push({ path: `/project/${id}` });
  }
}
</script>

<style lang="scss">
.projects {
  &__modal {
    padding: 1rem $section-horizontal-padding;
  }

  &__request-form {
    margin-top: 1.4rem;

    @media (min-width: 1200px) {
      margin-top: 1.55rem;
    }
  }

  &__grid {
    display: grid;
    grid-template-columns: 1fr;

    @media (min-width: 768px) {
      grid-template-columns: repeat(2, 1fr);
    }

    @media (min-width: 1200px) {
      grid-template-columns: repeat(4, 1fr);
    }

    @media (min-width: 1400px) {
      grid-template-columns: repeat(4, 1fr);
    }
  }

  &__no-projects {
    font-family: $font-montserrat;
    text-align: center;
  }
}

.no-projects {
  padding: 2rem;

  &__icon {
    margin-right: 0.5rem;
  }
}
</style>
