<template>
  <div class="project-page">
    <section class="section project-page__section">
      <h3 class="heading--decorated heading--center">
        {{ projectType }} {{ project.name }}
      </h3>
      <div class="project-page__description">
        <p>{{ project.description }}</p>
      </div>
      <ul class="project-page__metrics">
        <li class="project-page__metric">
          Площадь:
          <span class="project-page__metric-value"
            >{{ project.area }} м<sup>2</sup></span
          >
        </li>
        <li class="project-page__metric">
          Габариты:
          <span class="project-page__metric-value">{{ project.size }} м</span>
        </li>
        <li class="project-page__metric">
          Этажность:
          <span class="project-page__metric-value">{{ project.floors }}</span>
        </li>
      </ul>
      <Gallery :images="project.images" class="project-page__gallery" />
    </section>
    <section class="section section--bg-lightgray project-page__section">
      <div class="center">
        <h4 class="heading--center">
          Минимальная комплектация
        </h4>
        <div class="vhtml" v-html="project.base_sets_description" />
        <img
          class="project-page__image"
          src="@/assets/sets_desc.jpg"
          alt="Описание минимальной комплектации"
        />
        <Sets
          class="project-page__sets"
          :config="baseSets"
          :without-price="true"
        />
        <div class="project-page__price">
          Стоимость минимальной комплектации:
          <div class="project-page__price-value">
            {{ project.price | number("0,0", { thousandsSeparator: " " }) }} ₽
          </div>
        </div>
      </div>
    </section>
    <section class="section project-page__section">
      <div class="center">
        <h4 class="heading--center">
          Дополнительные опции
        </h4>
        <div class="vhtml" v-html="project.additional_sets_description" />

        <Sets class="project-page__sets" :config="additionalSets" />

        <div class="project-page__prices">
          <div class="project-page__price">
            Стоимость за кв.м.:
            <div
              class="project-page__price-value project-page__price-value--partial"
            >
              {{
                squareMeterPrice | number("0,0", { thousandsSeparator: " " })
              }}
              ₽
            </div>
          </div>
          <div class="project-page__price">
            Стоимость выбранной комплектации:
            <div class="project-page__price-value">
              {{ totalPrice | number("0,0", { thousandsSeparator: " " }) }} ₽
            </div>
          </div>
        </div>
      </div>
    </section>
    <section
      class="section section--bg-lightgray project-page__section project-page__section-request"
    >
      <h4>Отправить запрос</h4>
      <div class="vhtml" v-html="project.request_description" />
      <RequestForm
        class="project-page__request-form"
        button-text="Отправить запрос"
        type="request"
        :white-fields="true"
        :additional-data="prepareAdditionalSets()"
      />
    </section>
  </div>
</template>

<script lang="ts">
import { Component, Vue } from "vue-property-decorator";
import ProjectsService from "@/services/projectsService.ts";
import BaseSetsService from "@/services/baseSetsService.ts";
import AdditionalSetsService from "@/services/additionalSetsService.ts";
import { IProject, ISet } from "@/typings/types";
import Gallery from "@/components/Gallery.vue";
import Sets from "@/components/Sets.vue";
import RequestForm from "@/components/RequestForm.vue";

const components = {
  Gallery,
  Sets,
  RequestForm
};

@Component({
  components
})
export default class ProjectPage extends Vue {
  private project: IProject = {} as IProject;
  private baseSets: ISet[] = [];
  private additionalSets: ISet[] = [];
  private options = {
    rewind: true,
    width: 800,
    gap: "1rem"
  };

  private projectTypes: { [key: string]: string } = {
    house: "Дом",
    bathhouse: "Баня",
    countryhouse: "Дачный дом"
  };

  get totalPrice(): number {
    return this.additionalSets.reduce((acc, currentSet) => {
      return acc + (currentSet.selectedValue.price || 0);
    }, this.project.price);
  }

  get squareMeterPrice(): number {
    return Math.ceil(this.totalPrice / this.project.area);
  }

  get projectType(): string {
    return this.projectTypes[this.project.type as string];
  }

  async created(): Promise<void> {
    const projectId = this.$route.params.id;
    this.project = await new ProjectsService().get(projectId);

    this.baseSets = await new BaseSetsService().getAll();

    this.additionalSets = await new AdditionalSetsService().getAll();
  }

  calcTotalPrice(): number {
    const totalPrice = this.additionalSets.reduce((acc, currentSet) => {
      const price = currentSet.selectedValue.price as number;
      return price + acc;
    }, 0);

    return totalPrice;
  }

  prepareAdditionalSets(): {
    additionalSets: { category: string; id: string; name: string }[];
  } {
    let additionalSets = this.additionalSets
      .filter(set => {
        if (set.selectedValue.id) return set;
      })
      .map(set => {
        return {
          category: set.category,
          id: set.selectedValue.id,
          name: set.selectedValue.name
        };
      });

    return {
      additionalSets
    };
  }
}
</script>

<style lang="scss">
.project-page {
  &__description {
    margin: 1.4rem auto;
    text-align: center;

    @media (min-width: 1200px) {
      margin-left: auto;
      margin-right: auto;
      width: 50vw;
    }
  }

  &__metrics {
    color: $gray;
    font-family: $font-montserrat;
    font-size: 0.9rem;
    line-height: 1.7;
    list-style: none;
    margin: 0 0 3.6rem;
    padding: 0;
    text-align: center;

    @media (min-width: 768px) {
      margin-bottom: 5rem;
    }

    @media (min-width: 1200px) {
      font-size: 0.8rem;
    }
  }

  &__metric {
    display: inline-block;
    margin: 0 2rem;

    &-value {
      color: $yellow;
      font-size: 1rem;
      font-weight: 600;
      padding-left: 0.5rem;
    }
  }

  &__gallery {
    margin: 0 auto;
    width: 100%;
  }

  &__image {
    display: block;
    margin: 2.9em 0;
    width: 100%;

    @media (min-width: 1200px) {
      width: 50vw;
    }
  }

  &__sets {
    margin-top: 2rem;
  }

  &__prices {
    display: grid;

    @media (min-width: 768px) {
      grid-column-gap: 2rem;
      grid-template-columns: 1fr 2fr;
      margin: 0 1.5rem;
    }
  }

  &__price {
    color: $darkgray;
    display: grid;
    font: {
      size: 1.1rem;
      weight: 600;
    }
    line-height: 1.6;
    margin: 2rem 0 0;
    text-align: center;
    white-space: nowrap;

    @media (min-width: 768px) {
      align-items: center;
      grid-column-gap: 2rem;
      grid-template-columns: auto auto;
      justify-content: center;
    }

    &-value {
      background: $yellow;
      border-radius: 4px;
      color: $white;
      font-family: $font-montserrat;
      font-weight: 600;
      margin-top: 1rem;
      padding: 0.8rem 1rem;
      position: relative;
      white-space: nowrap;

      @media (min-width: 768px) {
        margin-top: 0;
      }

      @media (min-width: 1200px) {
        margin-left: 2rem;
        padding: 0.65rem 1rem;

        &::before {
          border: 25.5px solid transparent;
          border-right: 17.5px solid $yellow;
          content: "";
          height: 2px;
          left: -42px;
          position: absolute;
          top: 1px;
        }
      }

      &--partial {
        background: $gray;
        color: $white;

        &::before {
          border-right-color: $gray;
        }
      }
    }

    span {
      font-size: 1.5rem;
    }
  }

  @media (min-width: 1200px) {
    &__section-request {
      text-align: center;
    }
  }

  &__request-form {
    margin: 2rem 0 0;

    @media (min-width: 1200px) {
      margin: 2.1rem auto 0;
      width: 50vw;
    }
  }
}
</style>
