<template>
  <div class="services-page">
    <section
      v-for="(service, index) in services"
      :key="service.id"
      class="section"
      :class="{ 'section--bg-lightgray': index % 2 === 0 }"
    >
      <TextMediaBlock v-bind="service" :media-first="index % 2 === 1" />
    </section>
  </div>
</template>

<script lang="ts">
import { Component, Vue } from "vue-property-decorator";
import { IService } from "@/typings/types";
import ServicesService from "@/services/servicesService.ts";
import TextMediaBlock from "@/components/TextMediaBlock.vue";

interface IServiceWithButton extends IService {
  button?: {
    text: string;
    callback: () => void;
  };
}

const components = {
  TextMediaBlock
};

@Component({
  components
})
export default class ServicesPage extends Vue {
  private services: Array<IServiceWithButton> = [];

  async created(): Promise<void> {
    const services = await new ServicesService().getAll();
    this.services = services.map(this.setButtonCallback);
  }

  setButtonCallback(service: IServiceWithButton): IServiceWithButton {
    const serviceWithButton = service;
    serviceWithButton.button = {
      text: "Узнать больше",
      callback: this.goToServicePage(service.id)
    };

    return serviceWithButton;
  }

  goToServicePage(id: string): () => void {
    return function(): void {
      this.$router.push({ path: `/service/${id}` });
    }.bind(this);
  }
}
</script>
