<template>
  <div class="video-page">
    <section class="section" v-if="newVideo.length">
      <h3 class="heading--decorated heading--center">
        Последние видео
      </h3>
      <div class="grid center video-page__new">
        <TextMediaBlock
          v-for="v in newVideo"
          :key="v.id"
          v-bind="v"
          :vertical="true"
          :media-first="true"
        />
      </div>
    </section>
    <section
      class="section section--bg-lightgray video-page__section video-page__about-technology"
    >
      <h4 class="heading--decorated heading--center">
        Видео о технологии строительства
      </h4>
      <div class="grid center">
        <TextMediaBlock
          v-for="v in aboutTech"
          :key="v.id"
          v-bind="v"
          :vertical="true"
          :media-first="true"
        />
      </div>
    </section>
    <section class="section video-page__section video-page__review">
      <h3 class="heading--decorated heading--center">
        Обзоры готовых домов
      </h3>
      <div class="grid center">
        <TextMediaBlock
          v-for="v in review"
          :key="v.id"
          v-bind="v"
          :vertical="true"
          :media-first="true"
        />
      </div>
    </section>
  </div>
</template>

<script lang="ts">
import { Component, Vue } from "vue-property-decorator";
import { IVideoList, IVideo } from "@/typings/types";
import VideoService from "@/services/videoService";
import TextMediaBlock from "@/components/TextMediaBlock.vue";

const components = {
  TextMediaBlock
};

@Component({
  components
})
export default class VideoPage extends Vue {
  private video: IVideoList = {} as IVideoList;

  get newVideo(): Array<IVideo> {
    return this.video.newVideo ? this.video.newVideo : [];
  }

  get aboutTech(): Array<IVideo> {
    return this.video.aboutTech ? this.video.aboutTech : [];
  }

  get review(): Array<IVideo> {
    return this.video.review ? this.video.review : [];
  }

  async created(): Promise<void> {
    this.video = await new VideoService().getAll();
  }
}
</script>

<style lang="scss">
.video-page {
  .video {
    @media (min-width: 768px) {
      height: 28vw;
    }

    @media (min-width: 1200px) {
      height: 17vw;
    }

    @media (min-width: 1400px) {
      height: 11vw;
    }
  }

  &__new {
    .video {
      @media (min-width: 768px) {
        height: 28vw;
      }

      @media (min-width: 1200px) {
        height: 26vw;
      }
    }

    @media (min-width: 1200px) {
      grid-template-columns: repeat(2, 1fr);
    }
  }
}
</style>
