<template>
  <button
    class="button"
    :class="{ 'button--small': small }"
    type="button"
    :name="name"
    @click="clickButton"
  >
    <slot />
  </button>
</template>

<script lang="ts">
import { Component, Vue, Prop } from "vue-property-decorator";

@Component
export default class Button extends Vue {
  @Prop() name!: string;
  @Prop({ default: false }) small?: boolean;

  clickButton(): void {
    this.$emit("click");
  }
}
</script>

<style lang="scss">
.button {
  background: $yellow;
  border: 0;
  border-radius: $border-radius;
  color: $white;
  cursor: pointer;
  font-family: $font-montserrat;
  font-size: 1rem;
  letter-spacing: 0.05rem;
  line-height: 1.7;
  outline: none;
  padding: 0.85rem 2.15rem;
  text-transform: uppercase;

  @media (min-width: 1200px) {
    font-size: 0.8rem;
    padding: 0.9rem 2.25rem;
  }

  * + & {
    margin-top: 1.45rem;

    @media (min-width: 1200px) {
      margin-top: 2.5rem;
    }

    @media (min-width: 1400px) {
      margin-top: 3.25rem;
    }
  }

  &:hover {
    background: $black;
    transition: background 0.2s;
  }

  &:disabled {
    background: $gray;

    &:hover {
      background: $gray;
    }
  }

  &--small {
    font-size: 0.9rem;
    padding: 0.5rem 1rem;
    text-transform: none;

    @media (min-width: 1200px) {
      font-size: 0.8rem;
      padding: 0.3rem 0.8rem;
    }
  }
}
</style>
