<template>
  <div class="button-group">
    <slot />
  </div>
</template>

<script lang="ts">
import { Component, Vue } from "vue-property-decorator";

@Component
export default class ButtonGroup extends Vue {}
</script>

<style lang="scss">
.button-group {
  display: inline-block;
}
</style>
