<template>
  <ul class="contact-details">
    <li class="contact-details__item">
      <dl>
        <dt>Адрес:</dt>
        <dd>{{ address }}</dd>
      </dl>
    </li>
    <li class="contact-details__item">
      <dl>
        <dt>Телефоны:</dt>
        <dd>
          <a
            v-for="phone in phones"
            :key="phone"
            class="contact-details__phone"
            :href="`tel:${phone}`"
          >
            {{ phone }}
          </a>
        </dd>
      </dl>
    </li>
    <li class="contact-details__item">
      <dl>
        <dt>E-mail:</dt>
        <dd>
          <a class="contact-details__email" :href="`mailto:${email}`">
            {{ email }}
          </a>
        </dd>
      </dl>
    </li>
  </ul>
</template>

<script lang="ts">
import { Component, Vue } from "vue-property-decorator";
import ContactsService from "@/services/contactsService.ts";

@Component
export default class ContactDetails extends Vue {
  private address = "";
  private phones: string[] = [];
  private email = "";

  async created(): Promise<void> {
    const { address, phones, email } = await new ContactsService().get();
    this.address = address;
    this.phones = phones;
    this.email = email;
  }
}
</script>

<style lang="scss">
.contact-details {
  display: grid;
  grid-row-gap: 1.1rem;

  @media (min-width: 768px) {
    grid-row-gap: 1.6rem;
  }

  @media (min-width: 1200px) {
    grid-row-gap: 1.2rem;
  }

  dt {
    color: $black;
    display: inline;
    font-family: $font-montserrat;
    text-transform: uppercase;
  }

  dd {
    display: inline;
    margin-left: 0.5rem;
  }

  &__phone,
  &__email {
    color: inherit;
    text-decoration: none;
    white-space: nowrap;
  }

  &__phone {
    &:first-of-type {
      &::after {
        content: ";";
        display: inline-block;
      }
    }
  }
}
</style>
