<template>
  <div class="contacts">
    <div class="contacts__address">
      <a class="contacts__link modal-trigger" data-modal="modalMap2">
        <FontAwesomeIcon class="contacts__icon" icon="map-marker-alt" />
        {{ address }}
      </a>
      <div id="modalMap2" class="contacts__map modal">
        <!--Map width="500" /-->
      </div>
    </div>
    <div class="contacts__phones">
      <FontAwesomeIcon class="contacts__icon" icon="phone-alt" />
      <a
        v-for="phone in phones"
        :key="phone"
        class="contacts__phone"
        :href="`tel:${phone}`"
      >
        {{ phone }}
      </a>
    </div>
  </div>
</template>

<script lang="ts">
import { Component, Vue } from "vue-property-decorator";
import ContactsService from "@/services/contactsService";
import Map from "@/components/Map.vue";

const components = {
  Map
};

@Component({
  components
})
export default class Contacts extends Vue {
  private address = "";
  private phones: string[] = [];

  async created(): Promise<void> {
    try {
      const { address, phones } = await new ContactsService().get();
      this.address = address;
      this.phones = phones;
    } catch (e) {
      console.log(e);
    }
  }
}
</script>

<style lang="scss">
.contacts {
  margin-bottom: 1.1rem;

  @media (min-width: 1200px) {
    margin-bottom: 0;
  }

  a {
    color: inherit;
    cursor: pointer;
    text-decoration: none;
  }

  &__icon {
    color: $yellow;
    font-size: 1.1rem;
    margin-right: 0.25rem;
  }

  &__address {
    margin-bottom: 1.1rem;
    position: relative;

    @media (min-width: 1200px) {
      display: inline-block;
      margin-bottom: 0;
      margin-right: 2rem;
    }
  }

  &__phones {
    @media (min-width: 1200px) {
      display: inline-block;
    }
  }

  &__phone {
    &:first-of-type {
      &::after {
        content: ";";
        display: inline-block;
      }
    }
  }

  &__map {
    border-radius: 0 0 $border-radius $border-radius;

    &.modal {
      height: 0;
      left: -2rem;
      top: 2rem;
      visibility: visible;

      &--active {
        animation: heightMapGrow 0.5s ease-in forwards;
      }

      &--disactive {
        animation: heightMapCollapse 0.5s ease-in forwards;
      }
    }
  }
}

@keyframes heightMapGrow {
  from {
    height: 0;
  }

  to {
    height: $contact-map-height;
  }
}

@keyframes heightMapCollapse {
  from {
    height: $contact-map-height;
  }

  to {
    height: 0;
  }
}
</style>
