<template>
  <div class="filters">
    <h6>Фильтры:</h6>
    <ButtonGroup class="filters__button-group">
      <SwitchButton
        v-model="filters.houses"
        class="filters__button"
        name="houses"
        :small="true"
      >
        Дома
      </SwitchButton>
      <SwitchButton
        v-model="filters.bathHouses"
        class="filters__button"
        name="bathhouses"
        :small="true"
      >
        Бани
      </SwitchButton>
      <SwitchButton
        v-model="filters.countryHouses"
        class="filters__button"
        name="countryhouses"
        :small="true"
      >
        Дачные дома
      </SwitchButton>
    </ButtonGroup>
    <ButtonGroup class="filters__button-group">
      <SwitchButton
        v-model="filters.onefloor"
        class="filters__button"
        name="onefloor"
        :small="true"
      >
        1 этаж
      </SwitchButton>
      <SwitchButton
        v-model="filters.twofloors"
        class="filters__button"
        name="twofloors"
        :small="true"
      >
        2 этажа
      </SwitchButton>
    </ButtonGroup>
    <InputGroup legend="Стоимость" class="filters__input-group">
      <Input
        v-model="filters.priceFrom"
        class="filters__input"
        name="priceFrom"
        type="number"
        placeholder="от"
        :small="true"
      />
      <Input
        v-model="filters.priceTo"
        class="filters__input"
        name="priceTo"
        type="number"
        placeholder="до"
        :small="true"
      />
    </InputGroup>
    <div class="filters__reset-button">
      <Button name="reset" :small="true" @click="reset">
        Сбросить
      </Button>
    </div>
  </div>
</template>

<script lang="ts">
import { Component, Vue, ModelSync } from "vue-property-decorator";
import Projects from "@/views/Projects.vue";
import { IFilters } from "@/typings/types";
import SwitchButton from "@/components/SwitchButton.vue";
import ButtonGroup from "@/components/ButtonGroup.vue";
import Input from "@/components/Input.vue";
import InputGroup from "@/components/InputGroup.vue";
import Button from "@/components/Button.vue";

const components = {
  ButtonGroup,
  Button,
  SwitchButton,
  Input,
  InputGroup
};

@Component({
  components
})
export default class Filters extends Vue {
  @ModelSync("change") filters!: IFilters;

  reset(): void {
    this.filters = Object.assign(this.filters, Projects.filtersConfig);
  }
}
</script>

<style lang="scss">
.filters {
  align-items: baseline;
  background: $darkgray;
  color: $white;
  display: grid;
  font-family: $font-montserrat;
  grid-row-gap: 1.3rem;
  padding: 1.5rem $section-horizontal-padding 2rem;
  text-align: center;

  @media (min-width: 768px) and (max-width: 1200px - 0.5px) {
    grid-row-gap: 0.5rem;
    grid-template-columns: repeat(4, auto);

    h6 {
      grid-column: span 4;
    }
  }

  @media (min-width: 1200px) {
    grid-template-columns: repeat(5, auto);
    padding: {
      left: 4rem;
      right: 4rem;
    }
  }

  @media (min-width: 1400px) {
    grid-template-columns: repeat(5, auto);
    padding: {
      left: 10rem;
      right: 10rem;
    }
  }

  &__button {
    margin: 0 0.2rem;

    @media (min-width: 1200px) {
      margin: 0 0.25rem;
    }
  }

  &__input-group {
    vertical-align: bottom;
  }

  &__input {
    display: inline-block;
    margin: 0 0.25rem;
    width: 5rem;
  }
}
</style>
