<template>
  <footer class="footer">
    <div class="footer__content center">
      <div class="footer__about">
        <a href="#" class="">
          <img class="footer__logo" src="@/assets/logo.png" alt="" />
        </a>
        <p>
          {{ text }}
        </p>
      </div>
      <nav class="footer__nav">
        <h6>Навигация</h6>
        <router-link to="/" exact class="footer__nav-item">
          Главная
        </router-link>
        <router-link to="/video" class="footer__nav-item">
          Видео
        </router-link>
        <router-link to="/gallery" class="footer__nav-item">
          Галерея
        </router-link>
        <router-link to="/services" class="footer__nav-item">
          Услуги
        </router-link>
        <router-link to="/articles" class="footer__nav-item">
          Статьи
        </router-link>
        <router-link to="/contacts" class="footer__nav-item">
          Контакты
        </router-link>
      </nav>
      <nav class="footer__nav">
        <h6>Проекты</h6>
        <router-link to="/projects/houses" class="footer__nav-item">
          Дома
        </router-link>
        <router-link to="/projects/bathhouses" class="footer__nav-item">
          Бани
        </router-link>
        <router-link to="/projects/countryhouses" class="footer__nav-item">
          Дачные дома
        </router-link>
        <router-link to="/projects" class="footer__nav-item">
          Все проекты
        </router-link>
      </nav>
      <div>
        <h6>Контакты</h6>
        <ContactDetails class="footer__contacts" />
      </div>
    </div>
    <div class="footer-bottom">
      <div class="center footer-bottom__content">
        <div class="footer-bottom__rights">
          {{ rights }}
        </div>
        <SocialLinks />
      </div>
    </div>
  </footer>
</template>

<script lang="ts">
/*eslint no-undef: "off"*/
import { Component, Vue } from "vue-property-decorator";
import FooterService from "@/services/footerService.ts";
import ContactDetails from "@/components/ContactDetails.vue";
import SocialLinks from "@/components/SocialLinks.vue";

@Component({
  components: {
    ContactDetails,
    SocialLinks
  }
})
export default class Footer extends Vue {
  private text = "";
  private rights = "";

  async created(): Promise<void> {
    const { text, rights } = await new FooterService().get();
    this.text = text;
    this.rights = rights;
  }
}
</script>

<style lang="scss">
.footer {
  background: $darkgray;
  color: $white;

  h6 {
    color: $white;
    margin: 0 0 1.3rem;
  }

  &__content {
    display: grid;
    grid-row-gap: 2.1rem;
    padding: 3.6rem $section-horizontal-padding;

    @media (min-width: 768px) {
      grid-column-gap: 2.1rem;
      grid-template-columns: 50vw repeat(2, auto);
    }

    @media (min-width: 1200px) {
      font-size: 0.9rem;
      grid-column-gap: 1.6rem;
      grid-row-gap: 0;
      grid-template-columns: 30vw repeat(2, auto) 30vw;
      padding: 6.6rem $section-horizontal-padding-for-1200;
    }

    @media (min-width: 1400px) {
      grid-column-gap: 2.8rem;
      padding: 6.6rem $section-horizontal-padding-for-1400;
    }
  }

  &__logo {
    height: 3rem;
  }

  &__nav {
    &-item {
      background: transparent;
      color: $yellow;
      display: block;
      line-height: 1.7;
      margin: 0 0 0.8rem;
      text-decoration: none;

      &:last-of-type {
        margin-bottom: 0;
      }
    }
  }

  &__contacts {
    color: $gray;

    dt {
      color: $gray;
      font-family: $font-main;
      text-transform: none;
    }
  }

  &-bottom {
    background: $darkgray2;
    color: $gray;
    padding: 1.2rem 1.1rem;

    @media (min-width: 1200px) {
      font-size: 0.8rem;
      padding: 1.1rem 1.4rem;
    }

    &__content {
      display: flex;
      justify-content: space-between;
    }
  }
}
</style>
