<template>
  <div class="gallery" :class="{ 'gallery--small': small }">
    <div class="gallery__screen">
      <img :src="getImage(activeImage)" class="gallery__image" />
      <a
        v-if="imagesNumber > 1"
        class="gallery__scroll gallery__scroll--left"
        @click="scrollLeft"
      >
        <FontAwesomeIcon icon="chevron-left" />
      </a>
      <a
        v-if="imagesNumber > 1"
        class="gallery__scroll gallery__scroll--right"
        @click="scrollRight"
      >
        <FontAwesomeIcon icon="chevron-right" />
      </a>
    </div>
    <div v-if="showNav" class="gallery__nav">
      <img
        v-for="(image, index) in images"
        :key="index"
        :src="getImage(image)"
        :class="{ 'gallery__item--active': index == activeIndex }"
        class="gallery__item"
        @click="activateImage(index)"
      />
    </div>
  </div>
</template>

<script lang="ts">
import { Component, Vue, Prop } from "vue-property-decorator";

@Component
export default class Gallery extends Vue {
  @Prop() images!: Array<string>;
  @Prop({ default: true }) showNav?: boolean;
  @Prop({ default: false }) small?: boolean;
  private activeIndex = 0;

  get imagesNumber(): number {
    return this.images ? this.images.length : 0;
  }

  get activeImage(): string {
    return this.imagesNumber ? this.images[this.activeIndex] : "";
  }

  getImage(src: string): string {
    return require(`@/assets/${src}`);
  }

  activateImage(index: number): void {
    this.activeIndex = index;
  }

  scrollLeft(): void {
    this.activeIndex =
      this.activeIndex === 0 ? this.imagesNumber - 1 : this.activeIndex - 1;
  }

  scrollRight(): void {
    this.activeIndex =
      this.activeIndex === this.imagesNumber - 1 ? 0 : this.activeIndex + 1;
  }
}
</script>

<style lang="scss">
.gallery {
  max-width: 50rem;
  text-align: center;

  &--small {
    .gallery__screen {
      max-width: 20rem;
    }

    .gallery__scroll {
      font-size: 1rem;
    }
  }

  &__screen {
    display: inline-block;
    margin: 0 auto;
    position: relative;
    text-align: center;
  }

  &__scroll {
    box-sizing: border-box;
    color: $gray2;
    cursor: pointer;
    display: block;
    font-size: 2rem;
    height: 3rem;
    margin-top: -1.5rem;
    position: absolute;
    top: 50%;
    width: 3rem;
    z-index: 100;

    &:hover {
      color: $yellow;
    }

    &--left {
      border-radius: 0 4px 4px 0;
      left: 0;
    }

    &--right {
      border-radius: 4px 0 0 4px;
      right: 0;
    }
  }

  &__image {
    position: relative;
    width: 100%;
    z-index: 1;
  }

  &__nav {
    align-items: end;
    display: flex;
    margin: 2rem auto 0;
    overflow-y: hidden;
    scrollbar-color: $gray $lightgray;
    scrollbar-width: thin;

    &::-webkit-scrollbar {
      width: 6px;
    }

    &::-webkit-scrollbar-track {
      background: $lightgray;
      width: 3px;
    }

    &::-webkit-scrollbar-thumb {
      background-color: $gray;
      border: 6px solid $lightgray;
      border-radius: 20px;
    }
  }

  &__item {
    cursor: pointer;
    flex: 0 0 auto;
    height: 8rem;
    opacity: 0.2;
    overflow: hidden;
    text-align: center;

    &:hover {
      opacity: 1;
    }

    &--active {
      opacity: 1;
    }
  }
}
</style>
