<template>
  <header
    v-scroll="handleScroll"
    class="header"
    :class="{ 'header--sticky': stickyHeader }"
  >
    <div class="header__content center">
      <button class="header__menu-button">
        <FontAwesomeIcon icon="bars" />
      </button>
      <a href="#" class="header__logo logo">
        <img class="logo__img" src="@/assets/logo.png" alt="Логотип" />
      </a>
      <Nav class="header__nav" />
      <button class="header__menu-button">
        <FontAwesomeIcon icon="ellipsis-v" />
      </button>
    </div>
  </header>
</template>

<script lang="ts">
import { Component, Vue, Prop, Watch } from "vue-property-decorator";
import Nav from "@/components/Nav.vue";

const components = {
  Nav
};

@Component({
  components
})
export default class Header extends Vue {
  @Prop() isSticky!: boolean;

  private stickyHeader = this.isSticky;

  @Watch("isSticky")
  onIsStickyChanged(val: boolean): void {
    this.stickyHeader = val;
  }

  handleScroll(): undefined {
    if (this.isSticky) return;

    if (window.scrollY > 60) {
      this.stickyHeader = true;
      return;
    } else {
      this.stickyHeader = this.isSticky;
    }

    return;
  }
}
</script>

<style lang="scss">
@mixin header-sticky {
  background: $darkgray2;
  position: sticky;
  top: 0;
  z-index: 998;
}

.header {
  @include header-sticky;
  color: $white;
  transition-duration: 0.36s;
  transition-property: padding, background;
  transition-timing-function: cubic-bezier(0.785, 0.135, 0.15, 0.86);

  @media (min-width: 1200px) {
    background: transparent;
    position: static;
  }

  &--sticky {
    @media (min-width: 1200px) {
      @include header-sticky;
      border-top: 1px solid $darkgray;

      .header__content {
        padding: 0.7rem $section-horizontal-padding-for-1200;
      }

      .subnav__item {
        background: $darkgray2;
      }
    }

    @media (min-width: 1400px) {
      .header__content {
        padding: 0.7rem $section-horizontal-padding-for-1400;
      }
    }
  }

  &__content {
    align-items: center;
    display: grid;
    grid-template-columns: auto 1fr auto;
    padding: 0.3rem;

    @media (min-width: 1200px) {
      grid-template-columns: auto 1fr;
      padding: 2.5rem $section-horizontal-padding-for-1200;
    }

    @media (min-width: 1400px) {
      padding: 2.5rem $section-horizontal-padding-for-1400;
    }
  }

  &__menu-button {
    background: transparent;
    border: 0;
    color: $white;
    font-size: 1.3rem;
    text-align: center;
    width: 3.4rem;

    @media (min-width: 1200px) {
      display: none;
    }
  }

  &__logo {
    display: block;
    margin: 0 auto;
    width: 7rem;
  }
}

.logo {
  &__img {
    display: block;
    width: 100%;
  }
}
</style>
