<template>
  <div class="header-image" />
</template>

<script lang="ts">
import { Component, Vue } from "vue-property-decorator";

@Component
export default class HeaderImage extends Vue {}
</script>

<style lang="scss">
.header-image {
  background-image: linear-gradient($black-5 0, $transparent 40%, $transparent),
    url("~@/assets/bg_header.jpg");
  background-position: center top;
  background-repeat: no-repeat;
  background-size: cover;
  filter: brightness(0.8);
  height: 100vh;
  position: absolute;
  width: 100%;
  z-index: -1;
}
</style>
