<template>
  <v-popover offset="16">
    <FontAwesomeIcon
      v-if="!iconPrefix"
      :icon="icon"
      class=" tooltip-target"
      aria-hidden="true"
    />
    <FontAwesomeIcon
      v-if="iconPrefix"
      :icon="[iconPrefix, icon]"
      class=" tooltip-target"
      aria-hidden="true"
    />
    <template slot="popover">
      <slot />
    </template>
  </v-popover>
</template>

<script lang="ts">
import { Component, Vue, Prop } from "vue-property-decorator";

@Component
export default class IconPopover extends Vue {
  @Prop() icon!: string;
  @Prop({ default: "fa" }) iconPrefix?: string;
}
</script>

<style lang="scss">
.tooltip {
  border: 1px solid $gray2;
  border-radius: 3px;
  display: block;
  max-width: 95vw;
  outline: none;
  z-index: 10000;

  &-inner {
    background: $white;
    border-radius: 3px;
    color: $gray;
    line-height: 1.2rem;
    padding: 1rem;

    @media (min-width: 1200px) {
      padding: 1.5rem;
    }

    p {
      margin-bottom: 1rem;
      margin-top: 0;

      &:last-of-type {
        margin-bottom: 0;
      }
    }
  }

  &-arrow {
    border-color: $white;
    border-style: solid;
    display: none;
    height: 0;
    margin: 5px;
    position: absolute;
    width: 0;
  }

  &[x-placement^="top"] {
    margin-bottom: 5px;

    .tooltip-arrow {
      border-bottom-color: transparent;
      border-left-color: transparent;
      border-right-color: transparent;
      border-width: 5px 5px 0;
      bottom: -5px;
      left: calc(50% - 5px);
      margin-bottom: 0;
      margin-top: 0;
    }
  }

  &[x-placement^="bottom"] {
    margin-top: 5px;

    .tooltip-arrow {
      border-left-color: transparent;
      border-right-color: transparent;
      border-top-color: transparent;
      border-width: 0 5px 5px;
      left: calc(50% - 5px);
      margin-bottom: 0;
      margin-top: 0;
      top: -5px;
    }
  }

  &[x-placement^="right"] {
    margin-left: 5px;

    .tooltip-arrow {
      border-bottom-color: transparent;
      border-left-color: transparent;
      border-top-color: transparent;
      border-width: 5px 5px 5px 0;
      left: -5px;
      margin-left: 0;
      margin-right: 0;
      top: calc(50% - 5px);
    }
  }

  &[x-placement^="left"] {
    margin-right: 5px;

    .tooltip-arrow {
      border-bottom-color: transparent;
      border-right-color: transparent;
      border-top-color: transparent;
      border-width: 5px 0 5px 5px;
      margin-left: 0;
      margin-right: 0;
      right: -5px;
      top: calc(50% - 5px);
    }
  }

  &[aria-hidden="true"] {
    opacity: 0;
    transition: opacity 0.15s, visibility 0.15s;
    visibility: hidden;
  }

  &[aria-hidden="false"] {
    opacity: 1;
    transition: opacity 0.15s;
    visibility: visible;
  }
}
</style>
