<template>
  <fieldset class="input-group" :class="{ 'input-group--with-label': legend }">
    <legend class="input-group__legend">
      {{ legend }}
    </legend>
    <slot />
  </fieldset>
</template>

<script lang="ts">
import { Component, Vue, Prop } from "vue-property-decorator";

@Component
export default class InputGroup extends Vue {
  @Prop({ default: "" }) legend?: string;
}
</script>

<style lang="scss">
.input-group {
  display: inline-block;

  &__legend {
    display: block;
    font-size: 0.9rem;
    margin-bottom: 1rem;
  }
}
</style>
