<template>
  <div class="input" :class="[iconClass, smallClass]">
    <input
      ref="input"
      :type="type"
      :name="name"
      :placeholder="placeholder"
      @input="$emit('input', $event.target.value)"
    />
  </div>
</template>

<script lang="ts">
import { Component, Vue, Prop, ModelSync } from "vue-property-decorator";

@Component
export default class Input extends Vue {
  @Prop({ default: "text" }) type?: string;
  @Prop() name!: string;
  @Prop() placeholder?: string;
  @Prop() icon?: string;
  @Prop() small?: boolean;

  @ModelSync("value", "input")
  state!: string | number;

  get iconClass(): string {
    return this.icon ? `input--with-icon input--icon-${this.icon}` : "";
  }

  get smallClass(): string {
    return this.small ? "input--small" : "";
  }
}
</script>

<style lang="scss">
.input {
  position: relative;

  input {
    //@extend %form-item;
    background: $white;
    box-sizing: border-box;
    line-height: 1.6;
    width: 100%;

    @media (min-width: 1200px) {
      padding: 0.9rem 1.3rem;
    }
  }

  &--small {
    input {
      border: 0;
      padding: 0.5rem 1rem;

      @media (min-width: 1200px) {
        font-size: 0.8rem;
        padding: 0.3rem 0.8rem;
      }
    }
  }

  &--error {
    input {
      border-color: $yellow;
    }
  }

  &--with-icon {
    input {
      padding-left: 3.7rem;
    }

    &::before {
      color: $gray2;
      content: "";
      display: block;
      font-family: $font-awesome;
      font-size: 1.5rem;
      height: 1.5rem;
      left: 1.3rem;
      position: absolute;
      top: 0.95rem;
      width: 1.5rem;

      @media (min-width: 1200px) {
        top: 0.5rem;
      }
    }
  }

  &--icon-user {
    &::before {
      content: "\f007";
    }
  }

  &--icon-phone {
    &::before {
      content: "\f879";
    }
  }

  &--icon-email {
    &::before {
      content: "\f0e0";
    }
  }

  &--icon-comment {
    &::before {
      content: "\f075";
    }
  }
}
</style>
