<template>
  <div class="map">
    <iframe
      src="https://yandex.ru/map-widget/v1/?um=constructor%3Ac355df853568761b78a23e18cdedb49c9aa640e84f71eb6676224237bc4b8390&amp;source=constructor"
      :width="width"
      height="400"
      frameborder="0"
    />
  </div>
</template>

<script lang="ts">
import { Component, Prop, Vue } from "vue-property-decorator";

@Component
export default class Map extends Vue {
  @Prop({ default: "100%" }) private width!: string;
}
</script>
