<template>
  <nav class="nav">
    <router-link to="/" exact class="nav__item">
      Главная
    </router-link>
    <div class="nav__item-container">
      <router-link to="/projects" class="nav__item">
        Проекты
      </router-link>
      <FontAwesomeIcon class="nav__item-arrow" icon="chevron-down" />
      <div class="subnav">
        <router-link to="/projects/houses" class="subnav__item">
          Дома
        </router-link>
        <router-link to="/projects/bathhouses" class="subnav__item">
          Бани
        </router-link>
        <router-link to="/projects/countryhouses" class="subnav__item">
          Дачные дома
        </router-link>
      </div>
    </div>
    <router-link to="/video" class="nav__item">
      Видео
    </router-link>
    <router-link to="/gallery" class="nav__item">
      Галерея
    </router-link>
    <router-link to="/services" class="nav__item">
      Услуги
    </router-link>
    <router-link to="/articles" class="nav__item">
      Статьи
    </router-link>
    <router-link to="/contacts" class="nav__item">
      Контакты
    </router-link>
  </nav>
</template>

<script>
import { Component, Vue } from "vue-property-decorator";

@Component()
export default class Nav extends Vue {}
</script>

<style lang="scss">
.nav {
  font-family: $font-montserrat;
  font-size: 0.86rem;
  text-transform: uppercase;

  @media (max-width: 1200px - 0.5px) {
    background: $darkgray2;
    border-top: 1px solid $darkgray;
    display: none;
    height: 100vh;
    left: 0;
    padding: 1.45rem 0;
    position: absolute;
    top: $top-panel-height;
    width: 20rem;
  }

  @media (min-width: 1200px) {
    font-size: 0.78rem;
    text-align: right;
  }

  &__item {
    color: $white;
    cursor: pointer;
    letter-spacing: 0.1rem;
    line-height: 1.5;
    position: relative;
    text-decoration: none;

    @media (max-width: 1200px - 0.5px) {
      display: block;
      margin-top: 0.3rem;
      padding: 0.8rem 1.3rem;
    }

    @media (min-width: 1200px) {
      margin-left: 1rem;
      padding: 0 0.1rem 0.2rem;
    }

    &-arrow {
      cursor: pointer;
    }

    &--active {
      color: $white;

      @media (max-width: 1200px - 0.5px) {
        background: $yellow;
      }

      @media (min-width: 1200px) {
        color: $yellow;
        font-weight: 500;
      }
    }
  }

  &__item-container {
    position: relative;

    @media (min-width: 1200px) {
      display: inline-block;
    }

    .nav__item-arrow {
      transform: rotate(0deg);
      transition: transform 0.5s linear 0s;

      @media (max-width: 1200px - 0.5px) {
        position: absolute;
        right: 1.3rem;
        top: 1rem;
      }
    }

    &:hover {
      .nav__item-arrow {
        transform: rotate(180deg);
        transition: transform 0.5s linear 0s;
      }

      .subnav {
        height: auto;
      }

      .subnav__item {
        @media (min-width: 1200px) {
          animation: heightSubmenuGrow 0.3s ease-in-out forwards;
        }

        &:nth-of-type(1) {
          animation-delay: 0.3s;
        }

        &:nth-of-type(2) {
          animation-delay: 0.6s;
        }

        &:last-of-type {
          animation-delay: 0.9s;
        }
      }
    }
  }
}

.subnav {
  height: 0;
  margin-top: 0.3rem;
  overflow: hidden;
  text-align: left;
  text-transform: none;

  @media (min-width: 1200px) {
    left: 0.1rem;
    padding-top: 0.5rem;
    position: absolute;
    text-transform: uppercase;
  }

  &__item {
    color: $white;
    display: block;
    padding: 0.8rem 2.1rem;
    text-decoration: none;
    white-space: nowrap;

    @media (min-width: 1200px) {
      opacity: 0;
      padding: 0.7rem 1rem;
    }
  }
}

@keyframes heightSubmenuGrow {
  from {
    opacity: 0;
    transform: rotateX(-90deg);
  }

  to {
    opacity: 1;
    transform: rotateX(0);
  }
}
</style>
