<template>
  <div class="project">
    <img
      class="project__image"
      :src="require(`@/assets/${image}`)"
      :alt="title"
    />
    <div class="project__info">
      <div class="project__category">
        {{ category }}
      </div>
      <h6 class="project__title">
        {{ title }}
      </h6>
      <ul class="project__metrics">
        <li class="project__metric project__metric--area">
          Площадь: {{ area }} м<sup>2</sup>
        </li>
        <li class="project__metric project__metric--size">
          Габариты: {{ size }} м
        </li>
        <li class="project__metric project__metric--floors">
          Этажность: {{ floors }}
        </li>
      </ul>
      <div class="project__price">
        {{ price | number("0,0", { thousandsSeparator: " " }) }} ₽
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import { Component, Vue, Prop } from "vue-property-decorator";

@Component
export default class Project extends Vue {
  @Prop() category!: string;
  @Prop() title!: string;
  @Prop() image!: string;
  @Prop() area!: number;
  @Prop() size!: number;
  @Prop() floors!: number;
  @Prop() price!: number;
}
</script>

<style lang="scss">
.project {
  background: $darkgray;
  color: $white;
  cursor: pointer;
  font-family: $font-main;
  overflow: hidden;
  position: relative;
  text-align: center;

  &:hover {
    .project__image {
      opacity: 0.3;
    }

    .project__info {
      opacity: 1;
    }
  }

  &__image {
    height: 100%;
    left: 50%;
    opacity: 0.3;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 0;

    @media (min-width: 1200px) {
      opacity: 1;
    }
  }

  &__info {
    box-sizing: border-box;
    height: 100%;
    padding: 3.5rem;
    position: relative;

    @media (min-width: 1200px) {
      opacity: 0;
      padding: 2.8rem 2.2rem;
    }
  }

  &__category {
    color: $yellow;
    font-style: italic;

    @media (min-width: 1200px) {
      font-size: 0.8rem;
    }
  }

  &__title {
    color: $white;
    margin: 1.4rem 0 0;
    text-align: center;
  }

  &__metrics {
    line-height: 1.6;
    list-style: none;
    margin: 0;
    padding: 2rem 0;

    @media (min-width: 1200px) {
      font-size: 0.8rem;
      padding: 1rem 0;
    }
  }

  &__metric {
    display: inline-block;
    margin: 0 0.5rem;
  }

  &__price {
    color: $yellow;
    font-family: $font-montserrat;
    font-size: 1.15rem;
    white-space: nowrap;
  }
}
</style>
