<template>
  <section class="section projects-category">
    <h3 class="heading--decorated heading--center projects-category__title">
      {{ title }}
    </h3>
    <slot />
  </section>
</template>

<script lang="ts">
import { Component, Vue, Prop } from "vue-property-decorator";

@Component
export default class ProjectsCategory extends Vue {
  @Prop() title!: string;
}
</script>

<style lang="scss">
.projects-category {
  padding: $section-vertical-padding 0 0;
  position: relative;

  &__title {
    margin-bottom: 4rem;
  }
}
</style>
