<template>
  <FormulateForm
    class="request-form"
    name="request-form"
    :form-errors="errors"
    @submit="sendRequest"
    @submit-raw="checkValidation"
  >
    <div class="request-form__item">
      <FormulateInput
        v-model="name"
        class="request-form__input"
        type="text"
        name="name"
        validation="required"
        :validation-messages="{ required: ' ' }"
        placeholder="Ваше имя"
      />
    </div>
    <div class="request-form__item">
      <FormulateInput
        v-model="phone"
        class="request-form__input"
        type="tel"
        name="phone"
        validation="required"
        :validation-messages="{ required: ' ' }"
        placeholder="Номер телефона"
      />
    </div>
    <div class="request-form__item">
      <FormulateInput
        v-model="email"
        class="request-form__input"
        type="text"
        name="email"
        validation="required|email"
        :validation-messages="{ required: ' ', email: '' }"
        placeholder="E-mail"
      />
    </div>
    <div class="request-form__item">
      <FormulateInput
        v-model="comment"
        class="request-form__input"
        type="textarea"
        name="comment"
        placeholder="Комментарий"
      />
    </div>
    <div v-if="attachFile" class="request-form__item">
      <FormulateInput
        v-model="file"
        class="request-form__input"
        type="file"
        name="file"
        placeholder="Приложить проект"
        upload-url="/src/images/upload"
        upload-behavior="delayed"
      />
    </div>

    <div class="request-form__item request-form__item--with-checkbox">
      <FormulateInput
        v-model="policy"
        class="request-form__input"
        type="checkbox"
        name="policy"
        label="Я даю согласие на обработку персональных данных"
      />
    </div>
    <FormulateInput
      class="button--big request-form__button"
      type="submit"
      :disabled="!policy"
    >
      {{ buttonText }}
    </FormulateInput>
  </FormulateForm>
</template>

<script lang="ts">
import { Component, Vue, Prop } from "vue-property-decorator";
import { Context } from "@/typings/vue-formulate";
import RequestService from "@/services/requestService";

@Component
export default class RequestForm extends Vue {
  @Prop() type!: string;
  @Prop({ default: "Отправить" }) buttonText?: string;
  @Prop({ default: null }) additionalData?: any;
  @Prop({ default: false }) attachFile?: boolean;

  private name = "";
  private phone = "";
  private email = "";
  private comment = "";
  private file = [];
  private policy = false;
  private errors: string[] = [];

  async checkValidation(submission: Context): Promise<void> {
    console.log("checkValidation", submission);
    const hasErrors = await submission.hasValidationErrors();

    if (hasErrors) {
      this.errors.push("Заполните обязательные поля");
    }
  }

  sendRequest(): void {
    new RequestService(this.type).post({
      name: this.name,
      phone: this.phone,
      email: this.email,
      comment: this.comment,
      file: this.file[0],
      additionalData: this.additionalData
    });
  }
}
</script>

<style lang="scss">
.request-form {
  text-align: center;

  &__item {
    margin-bottom: 1.5rem;

    &--with-checkbox {
      text-align: left;
    }
  }

  &__label {
    color: $gray;
  }

  &__textarea {
    height: 7rem;
  }

  &__checkbox {
    margin-right: 0.5rem;
  }

  &__button {
    margin-top: 0;
  }

  &__error {
    padding-bottom: 1rem;

    &-icon {
      color: $yellow;
      margin-right: 0.5rem;
    }
  }
}
</style>
