<template>
  <ul class="services">
    <li v-for="service in services" :key="service.id" class="service">
      <div>
        <div class="service__icon">
          <img :src="require(`../assets/${service.id}.svg`)" />
        </div>
      </div>
      <div>
        <h6>
          <router-link :to="`/service/${service.id}`" class="service__link">
            {{ service.title }}
          </router-link>
        </h6>
        <p>{{ service.intro }}</p>
      </div>
    </li>
  </ul>
</template>

<script lang="ts">
import { Component, Vue } from "vue-property-decorator";
import { IService } from "@/typings/types";
import ServicesService from "@/services/servicesService.ts";

@Component
export default class Services extends Vue {
  private services: IService[] = [];

  async created(): Promise<void> {
    this.services = await new ServicesService().getAll();
  }
}
</script>

<style lang="scss">
$service-icon-size: 5.1rem;
$service-icon-size-for-1200: 4.7rem;
$service-icon-size-for-1400: 5.8rem;

.services {
  display: grid;
  grid-column-gap: 2.15rem;
  grid-row-gap: 3.6rem;
  grid-template-columns: 1fr;
  list-style: none;
  margin-top: 2.85rem;
  padding: 0;

  @media (min-width: 768px) {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, auto);
  }

  @media (min-width: 1200px) {
    grid-column-gap: 1.7rem;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, auto);
    margin-top: 3.35rem;
  }

  @media (min-width: 1400px) {
    grid-column-gap: 2.8rem;
    grid-row-gap: 2.8rem;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, auto);
  }

  .service {
    display: grid;
    grid-row-gap: 2.15rem;
    grid-template-columns: 1fr;
    text-align: center;

    @media (min-width: 768px) {
      grid-column-gap: 1.1rem;
      grid-row-gap: 0;
      grid-template-columns: $service-icon-size 1fr;
      grid-template-rows: auto 1fr;
      text-align: left;
    }

    @media (min-width: 1200px) {
      grid-template-columns: $service-icon-size-for-1200 1fr;
    }

    @media (min-width: 1400px) {
      grid-template-columns: $service-icon-size-for-1400 1fr;
    }

    &__icon {
      background-color: $yellow;
      border-radius: $service-icon-size / 2;
      box-sizing: border-box;
      display: inline-block;
      height: $service-icon-size;
      padding: 1.1rem;
      width: $service-icon-size;

      @media (min-width: 1200px) {
        border-radius: $service-icon-size-for-1200 / 2;
        height: $service-icon-size-for-1200;
        width: $service-icon-size-for-1200;
      }

      @media (min-width: 1400px) {
        border-radius: $service-icon-size-for-1400 / 2;
        height: $service-icon-size-for-1400;
        width: $service-icon-size-for-1400;
      }
    }

    &:hover {
      &::before {
        background-color: $darkgray;
        transition: background 0.3s;
      }
    }

    &__link {
      color: inherit;
      text-decoration: none;

      &:hover {
        color: $yellow;
      }
    }
  }
}
</style>
