<template>
  <div
    class="set-option"
    :class="{ 'set-option--without-price': withoutPrice }"
  >
    <span class="set-option__name" @click="selectOption(option)">
      {{ option.name }}
    </span>
    <span class="set-option__info">
      <IconPopover
        v-if="option.info"
        class="set-option__icon"
        icon="info-circle"
      >
        <div v-html="option.info" />
      </IconPopover>
    </span>
    <span class="set-option__images">
      <IconPopover
        v-if="option.images && option.images.length"
        class="set-option__icon"
        icon="image"
      >
        <Gallery
          class="set-option__gallery"
          :images="option.images"
          :small="true"
          :show-nav="false"
        />
      </IconPopover>
    </span>
    <span class="set-option__video">
      <IconPopover
        v-if="option.video"
        class="set-option__icon"
        icon="youtube"
        icon-prefix="fab"
      >
        <Video :path="option.video" />
      </IconPopover>
    </span>
    <span v-if="!withoutPrice" class="set-option__price">
      <span v-if="option.price">
        {{ option.price | number("0,0", { thousandsSeparator: " " }) }} ₽
      </span>
    </span>
  </div>
</template>

<script lang="ts">
import { Component, Vue, Prop } from "vue-property-decorator";
import { ISetValue } from "@/typings/types";
import IconPopover from "@/components/IconPopover.vue";
import Gallery from "@/components/Gallery.vue";
import Video from "@/components/Video.vue";

const components = {
  IconPopover,
  Gallery,
  Video
};

@Component({
  components
})
export default class SetOption extends Vue {
  @Prop() option!: ISetValue;
  @Prop({ default: false }) withoutPrice?: boolean;

  selectOption(option: ISetValue): void {
    this.$emit("select", option);
  }
}
</script>

<style lang="scss">
.set-option {
  align-items: center;
  color: $gray;
  cursor: pointer;
  display: grid;
  font: {
    size: 0.9rem;
    style: italic;
  }
  grid-column-gap: 0.5rem;
  grid-template-columns: 1fr repeat(3, 0.86rem) 4.5rem;
  line-height: 1.68;
  padding: 0.5rem;
  position: relative;

  &--without-price {
    grid-template-columns: 1fr repeat(3, 0.86rem);
  }

  .set-select__options &:hover {
    background: $yellow;
    color: $white;

    .set-option__icon {
      color: $white;
    }
  }

  &__icon {
    color: $yellow;
  }

  &__price {
    text-align: right;
  }
}
</style>
