<template>
  <div class="set-select">
    <div class="set-select__category">
      <FontAwesomeIcon
        v-if="config.selectedValue.name"
        icon="plus"
        class="set-select__icon"
      />
      <FontAwesomeIcon
        v-if="!config.selectedValue.name"
        icon="minus"
        class="set-select__icon"
      />
      {{ config.category }}:
    </div>
    <div class="set-select__selected-value">
      <div
        v-if="!config.selectedValue.name"
        class="set-select__no-selected-value"
        @click="toggleList"
      >
        <a>выбрать</a>
      </div>
      <SetOption
        v-if="config.selectedValue.name"
        :option="config.selectedValue"
        :without-price="withoutPrice"
      />
      <div
        v-if="config.selectedValue.name && config.options"
        class="set-select__delete-option"
      >
        <i class="fa fa-times" aria-hidden="true" @click="deleteOption" />
      </div>
    </div>
    <div
      v-if="config.options && config.options.length"
      v-show="listState"
      class="set-select__options"
    >
      <SetOption
        v-for="option in config.options"
        :key="option.id"
        :option="option"
        :without-price="withoutPrice"
        @select="selectOption"
      />
    </div>
  </div>
</template>

<script lang="ts">
import { Component, Vue, Prop } from "vue-property-decorator";
import SetOption from "@/components/SetOption.vue";
import { ISet, ISetValue } from "@/typings/types";

const components = {
  SetOption
};

@Component({
  components
})
export default class SetSelect extends Vue {
  @Prop() config!: ISet;
  @Prop({ default: true }) additionalInfo?: boolean;
  @Prop({ default: false }) withoutPrice?: boolean;

  private listState = false;

  toggleList(): void {
    this.listState = !this.listState;
  }

  selectOption(option: ISetValue): void {
    this.$set(this.config, "selectedValue", option);
    this.listState = false;
  }

  deleteOption(): void {
    this.$set(this.config, "selectedValue", {});
  }
}
</script>

<style lang="scss">
.set-select {
  display: grid;
  position: relative;

  @media (min-width: 768px) {
    align-items: baseline;
    grid-column-gap: 1rem;
    grid-template-columns: 20rem 1fr;
  }

  &__icon {
    color: $yellow;
    left: 0;
    position: absolute;
    top: 0.2rem;
  }

  &__category {
    color: $gray;
    font-family: $font-montserrat;
    font-size: 1rem;
    font-weight: 500;
    padding: 0 0 0 1.5rem;
    position: relative;
    white-space: normal;
  }

  &__selected-value {
    align-items: center;
    display: grid;
    grid-template-columns: 1fr 0.9rem;

    @media (min-width: 768px) {
      grid-column-gap: 1rem;
    }

    .set-option {
      cursor: default;
      font: {
        size: 1rem;
        style: normal;
      }
      padding-left: 1.5rem;

      @media (min-width: 768px) {
        padding-left: 0.7rem;
      }

      @media (min-width: 1200px) {
        padding-bottom: 0.25rem;
        padding-top: 0.25rem;
      }
    }
  }

  &__no-selected-value {
    background: $lightgray;
    border: 1px solid $gray2;
    border-radius: 3px;
    outline: none;
    color: $darkgray;
    font-family: $font-main;
    font-size: 1rem;
    font-style: italic;
    cursor: pointer;
    margin-top: 0.5rem;
    padding: 0.7rem;
    position: relative;

    &::after {
      color: $gray2;
      content: "\f078";
      display: inline-block;
      font-family: $font-awesome;
      font-style: normal;
      position: absolute;
      right: 1.3rem;
    }
  }

  &__options {
    background: $lightgray;
    border: 1px solid $gray2;
    border-radius: 0 0 3px 3px;
    border-top: 0;
    margin-right: 0.9rem;

    @media (min-width: 768px) {
      grid-column: 2;
      margin-right: 1.9rem;
    }
  }

  &__delete-option {
    color: $gray;
    cursor: pointer;
  }
}
</style>
