<template>
  <div class="sets">
    <SetSelect
      v-for="item in config"
      :key="item.id"
      :without-price="withoutPrice"
      :config="item"
    />
  </div>
</template>

<script lang="ts">
import { Component, Vue, Prop } from "vue-property-decorator";
import { ISet } from "@/typings/types";
import SetSelect from "@/components/SetSelect.vue";

const components = {
  SetSelect
};

@Component({
  components
})
export default class Sets extends Vue {
  @Prop() config!: ISet[];
  @Prop({ default: false }) withoutPrice?: boolean;
}
</script>

<style lang="scss">
.sets {
  display: grid;
  grid-row-gap: 1.1rem;
  line-height: 1.6;
}
</style>
