<template>
  <div class="slogan">
    <div class="slogan__content center">
      <h1 class="slogan__maintext heading--decorated heading--center">
        {{ mainText }}
      </h1>
      <h4 v-if="subText" class="slogan__subtext">
        {{ subText }}
      </h4>
      <Button
        v-if="buttonText"
        class="slogan__button button--big"
        @click="buttonHandler"
      >
        {{ buttonText }}
      </Button>
    </div>
  </div>
</template>

<script lang="ts">
import { Component, Vue } from "vue-property-decorator";
import SloganService from "@/services/sloganService.ts";
import { ISlogan, ISloganTexts } from "@/typings/types";
import Button from "@/components/Button.vue";

// Вынести при дальнейшем использовании
type TSloganButtonHandlers<T> = {
  [P in keyof T]: () => void;
};

const components = {
  Button
};

@Component({
  components
})
export default class Slogan extends Vue {
  private mainTexts: Partial<ISloganTexts> = {};
  private subTexts: Partial<ISloganTexts> = {};
  private buttonTexts: Partial<ISloganTexts> = {};
  private buttonHandlers: Partial<TSloganButtonHandlers<ISloganTexts>> = {
    main: this.goToProjectsPage,
    video: this.goToYoutube,
    projects: this.showRequestForm
  };

  get pageName(): string {
    return this.$route.name || "main";
  }

  get buttonHandler(): undefined | (() => void) {
    return this.buttonHandlers[this.pageName];
  }

  get mainText(): string {
    return this.mainTexts[this.pageName] || "";
  }

  get subText(): string {
    return this.subTexts[this.pageName] || "";
  }

  get buttonText(): string {
    return this.buttonTexts[this.pageName] || "";
  }

  async created(): Promise<void> {
    const {
      maintext,
      subtext,
      buttontext
    }: ISlogan = await new SloganService().get();
    this.mainTexts = maintext;
    this.subTexts = subtext;
    this.buttonTexts = buttontext;
  }

  goToProjectsPage(): void {
    this.$router.push({ name: "projects" });
  }

  goToYoutube(): void {
    window.open(
      "https://www.youtube.com/channel/UCnugd88AegOMvpk1Tq9ERRA",
      "_blank"
    );
  }

  showRequestForm(): void {
    this.$modal.show("request-form");
  }
}
</script>

<style lang="scss">
.slogan {
  align-items: center;
  color: $white;
  display: flex;
  font-family: $font-montserrat;
  font-weight: 700;
  height: calc(100vh - 3.3rem);
  letter-spacing: 0.06em;
  text-align: center;
  text-shadow: 2px 2px 0 $darkgray-9;
  text-transform: uppercase;

  @media (min-width: 1200px) {
    height: calc(100vh - 10.9rem);
  }

  &__maintext {
    color: inherit;
    margin-bottom: 0.95rem;
  }

  &__button {
    flex: 0;
    margin: 2.7rem $section-horizontal-padding 0;

    @media (min-width: 1400px) {
      margin-top: 3.8rem;
    }
  }
}
</style>
