<template>
  <div class="social-links">
    <a
      class="social-links__link"
      href="https://vk.com/club_ecostroy"
      target="_blank"
    >
      <FontAwesomeIcon :icon="['fab', 'vk']" />
    </a>
    <a
      class="social-links__link"
      href="https://www.youtube.com/channel/UCnugd88AegOMvpk1Tq9ERRA"
      target="_blank"
    >
      <FontAwesomeIcon :icon="['fab', 'youtube']" />
    </a>
  </div>
</template>

<script lang="ts">
import { Component, Vue } from "vue-property-decorator";

@Component
export default class SocialLinks extends Vue {}
</script>

<style lang="scss">
.social-links {
  &__link {
    color: inherit;
    margin-right: 1rem;

    &:last-of-type {
      margin-right: 0;
    }
  }
}
</style>
