<template>
  <Button
    class="switch-button"
    :class="{ 'switch-button--active': state }"
    :name="name"
    :small="small"
    @click="clickButton"
  >
    <slot />
  </Button>
</template>

<script lang="ts">
import { Component, Vue, Prop, ModelSync } from "vue-property-decorator";
import Button from "@/components/Button.vue";

const components = {
  Button
};

@Component({
  components
})
export default class SwitchButton extends Vue {
  @Prop() name!: string;
  @Prop({ default: false }) small?: boolean;
  @ModelSync("value", "input", { type: Boolean, default: false })
  state!: boolean;

  clickButton(): void {
    this.state = !this.state;
  }
}
</script>

<style lang="scss">
.switch-button {
  background: $lightgray;
  color: $darkgray;

  #{$section-class-bg-lightgray} & {
    border: 1px solid $gray2;
  }

  &:hover,
  &--active {
    background: $yellow;
    border: 0;
    color: $white;
  }
}
</style>
