<template>
  <div
    class="text-media-block"
    :class="{
      'text-media-block--media-left': mediaFirst,
      'text-media-block--vertical': vertical
    }"
  >
    <div>
      <h4 v-if="!vertical" class="heading--decorated">
        <router-link v-if="link" :to="{ path: link }" class="link">
          {{ title }}
        </router-link>
        <span v-if="!link">
          {{ title }}
        </span>
      </h4>
      <h6 v-if="vertical">
        <router-link v-if="link" :to="{ path: link }" class="link">
          {{ title }}
        </router-link>
        <span v-if="!link">
          {{ title }}
        </span>
      </h6>
      <p v-if="intro" class="intro">
        {{ intro }}
      </p>
      <p v-html="text"></p>
      <Button v-if="button" @click="button.callback">
        {{ button.text }}
      </Button>
    </div>
    <Video v-if="video" :path="video" />
    <router-link v-if="link && image" :to="{ path: link }" class="link">
      <img v-if="image" class="image" :src="image" />
    </router-link>
    <img
      v-if="image && !link"
      class="image"
      :src="require(`@/assets/${image}`)"
    />
  </div>
</template>

<script lang="ts">
import { Component, Vue, Prop } from "vue-property-decorator";
import { TButton } from "@/typings/types";
import Video from "@/components/Video.vue";
import Button from "@/components/Button.vue";

const components = {
  Video,
  Button
};

@Component({
  components
})
export default class TextMediaBlock extends Vue {
  @Prop() title!: string;
  @Prop() intro!: string;
  @Prop() text!: string;
  @Prop() image?: string;
  @Prop() video?: string;
  @Prop() button?: TButton;
  @Prop() link?: string;
  @Prop({ default: false }) mediaFirst?: boolean;
  @Prop({ default: false }) vertical?: boolean;
}
</script>
