<template>
  <div class="top-panel">
    <div class="top-panel__content center">
      <Contacts />
      <SocialLinks />
    </div>
  </div>
</template>

<script lang="ts">
import { Component, Vue } from "vue-property-decorator";
import Contacts from "@/components/Contacts.vue";
import SocialLinks from "@/components/SocialLinks.vue";

const components = {
  Contacts,
  SocialLinks
};

@Component({
  components
})
export default class TopPanel extends Vue {}
</script>

<style lang="scss">
.top-panel {
  background: $darkgray2;
  border-top: 1px solid $darkgray;
  color: $white;
  display: none;
  line-height: 1.4;
  position: fixed;
  right: 0;
  top: $top-panel-height;
  z-index: 1000;

  @media (min-width: 1200px) {
    border: 0;
    display: block;
    font-size: 0.89rem;
    position: static;
  }

  &__content {
    padding: 1.8rem 1.6rem;

    @media (min-width: 1200px) {
      align-items: baseline;
      display: flex;
      justify-content: space-between;
      padding: 0.64rem $section-horizontal-padding-for-1200;
    }

    @media (min-width: 1400px) {
      padding: 0.64rem $section-horizontal-padding-for-1400;
    }
  }
}
</style>
