<template>
  <iframe
    class="video"
    :src="path"
    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
    allowfullscreen
  />
</template>

<script lang="ts">
import { Component, Vue, Prop } from "vue-property-decorator";

@Component
export default class Video extends Vue {
  @Prop() path!: string;
}
</script>

<style lang="scss">
.text-media-block {
  display: grid;

  grid-row-gap: $section-horizontal-padding * 2;
  grid-template-rows: auto 1fr;

  @media (min-width: 1200px) {
    grid-column-gap: $section-horizontal-padding-for-1200 * 2;
    grid-row-gap: 0;
    grid-template-columns: repeat(2, 1fr);
  }

  @media (min-width: 1400px) {
    grid-column-gap: $section-horizontal-padding-for-1400 * 2;
  }

  &--media-left {
    *:last-child {
      order: -1;
    }
  }

  &--vertical {
    grid-auto-rows: min-content;
    grid-row-gap: 1.4rem;
    grid-template-columns: 1fr;
    grid-template-rows: min-content;
    text-align: center;

    @media (min-width: 1200px) {
      grid-row-gap: 1.2rem;
      text-align: left;
    }

    .video {
      height: auto;
    }
  }

  .link {
    color: $black;

    &:hover {
      color: $yellow;
    }
  }

  .image,
  .video {
    height: auto;
    width: 100%;
  }

  .video {
    @media (min-width: 768px) {
      height: 54vw;
    }

    @media (min-width: 1200px) {
      height: 100%;
    }
  }
}
</style>
