<template>
  <div id="app">
    <TopPanel />
    <HeaderImage />
    <Header :is-sticky="stickyHeader" />
    <Slogan v-if="!stickyHeader" />
    <main class="main">
      <transition name="fade" mode="out-in">
        <router-view />
      </transition>
    </main>
    <Footer />
  </div>
</template>
<script lang="ts">
import { Component, Vue } from "vue-property-decorator";
import TopPanel from "@/components/TopPanel.vue";
import HeaderImage from "@/components/HeaderImage.vue";
import Header from "@/components/Header.vue";
import Slogan from "@/components/Slogan.vue";
import Footer from "@/components/Footer.vue";

const components = {
  TopPanel,
  HeaderImage,
  Header,
  Slogan,
  Footer
};

@Component({
  components
})
export default class App extends Vue {
  get stickyHeader(): boolean {
    return this.$route.meta.stickyHeader || false;
  }
}
</script>

<style lang="scss">
.main {
  background: $white;
}
</style>
